<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Sitios destacados</ion-title>
  </ion-toolbar>
  
  <div class="container">
    <div *ngFor="let sitio of sitiosFiltrados" @fadeIn class="card" (click)="verDetalles(sitio.id)">
      <img [src]="sitio.imagen" [alt]="sitio.nombre">
      <h2>{{ sitio.titulo }}</h2>
      <p>{{ sitio.descripcion }}</p>
    </div>
  </div>
  <ion-button (click)="agregarSitio()">Agregar Sitio</ion-button>
</ion-content>
