<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js">
</script>



<ion-content class="back">
  <div class="image-container">
    <img src="assets/icon/background.png" alt="Cerro Picacho">
      <div class="overlay">
        <ion-grid>
          <ion-row class="contenedor-centrado">
            <ion-button fill="clear" color="light" size="default">
              <ion-icon name="menu"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="light" size="default"> 
              <ion-icon name="logo-instagram"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="light" size="default">
              <ion-icon name="share-social-outline"></ion-icon>
            </ion-button>
          </ion-row>
          <ion-searchbar placeholder="Buscar rutas..."></ion-searchbar>
        </ion-grid>
        <div class="content">
          <h1 style="font-size: 2rem; font-weight: bold; margin-top: 200px;">Rutas que Marcan</h1>
          <p>Conoce destinos únicos y vive experiencias inolvidables.</p>
          <br><br><br>
          <ion-button @slideIn color="success" style="--border-radius: 20px; margin-top: 10px; width: 150px;" (click)="mostrarSelectorCategorias()">
            Explorar     
            <ion-icon name="walk-outline"></ion-icon>
          </ion-button>
          <ion-button @slideIn color="warning" style="--border-radius: 20px; margin-top: 10px; width: 150px;" (click)="agregarSitio()">
            Añadir
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <br>
          <div class="tip-slider">
            <div class="tip-card" *ngIf="currentTip">
              <div class="tip-header">
                <ion-icon [name]="currentTip.icono"></ion-icon>
                <h6>{{ currentTip.titulo }}</h6>
              </div>
              <p>{{ currentTip.descripcion }}</p>
            </div>
          </div>
          <br>
          <h1 style="font-size: 2rem; font-weight: bold">Sitios destacados</h1>
          <div class="contenedor">
            <div class="slider">
              <div class="card" *ngFor="let sitio of sitios">
                <img [src]="sitio.imagen" [alt]="sitio.titulo" />
                <h2>{{ sitio.titulo }}</h2>
                <div class="buttons1">
                  <ion-button fill="clear" class="ver-mas" style="margin-bottom: 10px; color: black;" ><ion-icon name="add-sharp"></ion-icon></ion-button>
                  <ion-button fill="clear" class="ver-mas" style="margin-bottom: 10px; color: black;" ><ion-icon name="heart-outline"></ion-icon></ion-button>
                  <ion-button fill="clear" color="dark" (click)="abrirModal(sitio.id)">
                    <ion-icon name="navigate"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear" class="ver-mas" style="margin-bottom: 10px; color: black;" ><ion-icon name="share-social-outline"></ion-icon></ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div> 
  
  <ion-footer class="footer-transparente">
    <ion-toolbar>
      <p class="footer">Aventrip Todos los derechos reservados© 2024</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>
